In [5]:
import pandas as pd

data = pd.read_csv("C:/Users/lenovo/Downloads/sample_sales_data.csv")
data

,OrderID,CustomerName,Category,OrderDate,Quantity,Price,TotalAmount,Status
0,ORD0001,Hannah,Books,1/1/2025,6,331.73,1990.38,Canceled
1,ORD0002,Edward,Books,1/2/2025,3,310.03,930.09,Completed
2,ORD0003,Alice,Clothing,1/3/2025,9,176.17,1585.53,Canceled
3,ORD0004,Hannah,Electronics,1/4/2025,3,79.97,239.91,Pending
4,ORD0005,George,Home,1/5/2025,7,406.03,2842.21,Canceled
...,...,...,...,...,...,...,...,...
95,ORD0096,Diana,Clothing,4/6/2025,5,368.23,1841.15,Completed
96,ORD0097,Bob,Books,4/7/2025,8,360.17,2881.36,Completed
97,ORD0098,Diana,Clothing,4/8/2025,9,29.97,269.73,Canceled
98,ORD0099,Alice,Home,4/9/2025,5,465.20,2326.00,Pending
99,ORD0100,Charlie,Books,4/10/2025,9,41.55,373.95,Pending

In [7]:
greather500 = data[data["TotalAmount"] > 500] 
print (greather500)

    OrderID CustomerName     Category OrderDate  Quantity   Price  \
0   ORD0001       Hannah        Books  1/1/2025         6  331.73
1   ORD0002       Edward        Books  1/2/2025         3  310.03
2   ORD0003        Alice     Clothing  1/3/2025         9  176.17
4   ORD0005       George         Home  1/5/2025         7  406.03
5   ORD0006      Charlie        Books  1/6/2025         9  390.27
..      ...          ...          ...       ...       ...     ...
92  ORD0093      Charlie  Electronics  4/3/2025         5  118.72
94  ORD0095        Alice        Books  4/5/2025         4  143.94
95  ORD0096        Diana     Clothing  4/6/2025         5  368.23
96  ORD0097          Bob        Books  4/7/2025         8  360.17
98  ORD0099        Alice         Home  4/9/2025         5  465.20

    TotalAmount     Status
0       1990.38   Canceled
1        930.09  Completed
2       1585.53   Canceled
4       2842.21   Canceled
5       3512.43  Completed
..          ...        ...
92       593.60  Completed
94       575.76   Canceled
95      1841.15  Completed
96      2881.36  Completed
98      2326.00    Pending

[72 rows x 8 columns]

In [9]:
#List all orders in the "Electronics" category.
categoryElectronics = data[data["Category"] == "Electronics"]
print (categoryElectronics)

    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
3   ORD0004       Hannah  Electronics   1/4/2025         3   79.97
8   ORD0009      Charlie  Electronics   1/9/2025         2  222.30
10  ORD0011       Edward  Electronics  1/11/2025         3  398.62
20  ORD0021      Charlie  Electronics  1/21/2025         8  358.75
22  ORD0023       Hannah  Electronics  1/23/2025         8  134.65
35  ORD0036       Edward  Electronics   2/5/2025         4  340.00
41  ORD0042        Diana  Electronics  2/11/2025         9  214.39
46  ORD0047       Hannah  Electronics  2/16/2025         9   54.83
49  ORD0050       Edward  Electronics  2/19/2025         9  203.61
51  ORD0052        Fiona  Electronics  2/21/2025         2   55.77
57  ORD0058        Diana  Electronics  2/27/2025        10  161.56
62  ORD0063        Fiona  Electronics   3/4/2025         8  485.02
69  ORD0070          Bob  Electronics  3/11/2025         1  264.61
70  ORD0071        Diana  Electronics  3/12/2025         7  305.67
73  ORD0074          NaN  Electronics  3/15/2025         1  234.80
74  ORD0075      Charlie  Electronics  3/16/2025         3  235.91
80  ORD0081       Hannah  Electronics        NaN         1  295.33
85  ORD0086          Bob  Electronics        NaN         5   77.85
86  ORD0087        Alice  Electronics  3/28/2025         3   86.55
87  ORD0088      Charlie  Electronics  3/29/2025         5  218.10
90  ORD0091       Edward  Electronics   4/1/2025         9  111.69
92  ORD0093      Charlie  Electronics   4/3/2025         5  118.72
93  ORD0094        Alice  Electronics   4/4/2025         2   60.11

    TotalAmount     Status
3        239.91    Pending
8        444.60   Canceled
10      1195.86   Canceled
20      2870.00    Pending
22      1077.20  Completed
35      1360.00   Canceled
41      1929.51    Pending
46       493.47    Pending
49      1832.49   Canceled
51       111.54   Canceled
57      1615.60   Canceled
62      3880.16    Pending
69       264.61   Canceled
70      2139.69  Completed
73       234.80    Pending
74       707.73  Completed
80       295.33   Canceled
85       389.25    Pending
86       259.65    Pending
87      1090.50   Canceled
90      1005.21    Pending
92       593.60  Completed
93       120.22   Canceled

In [11]:

allorders = data[(data["Category"] == "Clothing") & (data["Status"] == "Completed")]
print (allorders)

    OrderID CustomerName  Category  OrderDate  Quantity   Price  TotalAmount  \
17  ORD0018       George  Clothing  1/18/2025        10  267.14      2671.40
18  ORD0019        Alice  Clothing        NaN         3  227.82       683.46
23  ORD0024          Bob  Clothing  1/24/2025         5  293.58      1467.90
26  ORD0027      Charlie  Clothing  1/27/2025         3  432.17      1296.51
54  ORD0055          Bob  Clothing  2/24/2025         9  142.33      1280.97
58  ORD0059        Fiona  Clothing  2/28/2025         7  161.67      1131.69
66  ORD0067        Diana  Clothing   3/8/2025         3  467.02      1401.06
76  ORD0077        Alice  Clothing  3/18/2025         9  163.71      1473.39
77  ORD0078        Alice  Clothing  3/19/2025         2   25.33        50.66
78  ORD0079          NaN  Clothing  3/20/2025         6   80.48       482.88
95  ORD0096        Diana  Clothing   4/6/2025         5  368.23      1841.15

       Status
17  Completed
18  Completed
23  Completed
26  Completed
54  Completed
58  Completed
66  Completed
76  Completed
77  Completed
78  Completed
95  Completed

In [13]:
#Find orders where the Quantity is greater than 5 or the Status is "Pending."

findorders = data[(data["Quantity"] > 5) | (data["Status"] == "Pending")]
print (findorders)

    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
0   ORD0001       Hannah        Books   1/1/2025         6  331.73
2   ORD0003        Alice     Clothing   1/3/2025         9  176.17
3   ORD0004       Hannah  Electronics   1/4/2025         3   79.97
4   ORD0005       George         Home   1/5/2025         7  406.03
5   ORD0006      Charlie        Books   1/6/2025         9  390.27
..      ...          ...          ...        ...       ...     ...
91  ORD0092        Diana     Clothing   4/2/2025         2  172.55
96  ORD0097          Bob        Books   4/7/2025         8  360.17
97  ORD0098        Diana     Clothing   4/8/2025         9   29.97
98  ORD0099        Alice         Home   4/9/2025         5  465.20
99  ORD0100      Charlie        Books  4/10/2025         9   41.55

    TotalAmount     Status
0       1990.38   Canceled
2       1585.53   Canceled
3        239.91    Pending
4       2842.21   Canceled
5       3512.43  Completed
..          ...        ...
91       345.10    Pending
96      2881.36  Completed
97       269.73   Canceled
98      2326.00    Pending
99       373.95    Pending

[63 rows x 8 columns]

In [15]:
TotalAmountBt = data[data["TotalAmount"].between (200,1000)]
print (TotalAmountBt)

    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
1   ORD0002       Edward        Books   1/2/2025         3  310.03
3   ORD0004       Hannah  Electronics   1/4/2025         3   79.97
8   ORD0009      Charlie  Electronics   1/9/2025         2  222.30
11  ORD0012        Alice         Home  1/12/2025         4  157.95
12  ORD0013        Fiona     Clothing  1/13/2025         9   44.52
13  ORD0014      Charlie         Home  1/14/2025         2  108.11
15  ORD0016       Hannah     Clothing  1/16/2025         1  241.91
18  ORD0019        Alice     Clothing        NaN         3  227.82
19  ORD0020       George     Clothing  1/20/2025         2  462.31
21  ORD0022        Fiona         Home  1/22/2025         9   62.70
31  ORD0032          Bob        Books   2/1/2025         6  149.55
37  ORD0038       Hannah         Home   2/7/2025         6  135.51
40  ORD0041       George     Clothing  2/10/2025         5  123.01
42  ORD0043        Alice     Clothing  2/12/2025         9   92.59
45  ORD0046       George         Home  2/15/2025         2  119.26
46  ORD0047       Hannah  Electronics  2/16/2025         9   54.83
48  ORD0049          Bob     Clothing  2/18/2025         3  147.93
52  ORD0053       Edward         Home  2/22/2025         2  261.63
55  ORD0056        Alice     Clothing  2/25/2025         6  161.37
65  ORD0066          NaN     Clothing   3/7/2025         5  190.90
69  ORD0070          Bob  Electronics  3/11/2025         1  264.61
71  ORD0072        Fiona         Home  3/13/2025         3  204.01
73  ORD0074          NaN  Electronics  3/15/2025         1  234.80
74  ORD0075      Charlie  Electronics  3/16/2025         3  235.91
75  ORD0076       Edward        Books  3/17/2025         1  360.33
78  ORD0079          NaN     Clothing  3/20/2025         6   80.48
80  ORD0081       Hannah  Electronics        NaN         1  295.33
85  ORD0086          Bob  Electronics        NaN         5   77.85
86  ORD0087        Alice  Electronics  3/28/2025         3   86.55
89  ORD0090        Alice        Books  3/31/2025         1  215.99
91  ORD0092        Diana     Clothing   4/2/2025         2  172.55
92  ORD0093      Charlie  Electronics   4/3/2025         5  118.72
94  ORD0095        Alice        Books   4/5/2025         4  143.94
97  ORD0098        Diana     Clothing   4/8/2025         9   29.97
99  ORD0100      Charlie        Books  4/10/2025         9   41.55

    TotalAmount     Status
1        930.09  Completed
3        239.91    Pending
8        444.60   Canceled
11       631.80  Completed
12       400.68    Pending
13       216.22  Completed
15       241.91    Pending
18       683.46  Completed
19       924.62   Canceled
21       564.30    Pending
31       897.30  Completed
37       813.06   Canceled
40       615.05    Pending
42       833.31    Pending
45       238.52  Completed
46       493.47    Pending
48       443.79   Canceled
52       523.26    Pending
55       968.22    Pending
65       954.50    Pending
69       264.61   Canceled
71       612.03  Completed
73       234.80    Pending
74       707.73  Completed
75       360.33   Canceled
78       482.88  Completed
80       295.33   Canceled
85       389.25    Pending
86       259.65    Pending
89       215.99   Canceled
91       345.10    Pending
92       593.60  Completed
94       575.76   Canceled
97       269.73   Canceled
99       373.95    Pending

In [17]:
#CustomerNamewithA  = data[data["CustomerName"].str.contains('A')]
#print(CustomerNamewithA)

CategoryHome = data[data["Category"].str.contains("Home")]
print (CategoryHome)

    OrderID CustomerName Category  OrderDate  Quantity   Price  TotalAmount  \
4   ORD0005       George     Home   1/5/2025         7  406.03      2842.21
9   ORD0010        Alice     Home  1/10/2025         3  476.14      1428.42
11  ORD0012        Alice     Home  1/12/2025         4  157.95       631.80
13  ORD0014      Charlie     Home  1/14/2025         2  108.11       216.22
14  ORD0015      Charlie     Home  1/15/2025        10  381.90      3819.00
21  ORD0022        Fiona     Home  1/22/2025         9   62.70       564.30
24  ORD0025       Edward     Home  1/25/2025        10  262.13      2621.30
25  ORD0026      Charlie     Home  1/26/2025         4  318.66      1274.64
30  ORD0031        Diana     Home  1/31/2025         2   61.32       122.64
32  ORD0033       Hannah     Home   2/2/2025         4  263.42      1053.68
37  ORD0038       Hannah     Home   2/7/2025         6  135.51       813.06
44  ORD0045       Hannah     Home  2/14/2025         6  418.15      2508.90
45  ORD0046       George     Home  2/15/2025         2  119.26       238.52
47  ORD0048       Hannah     Home        NaN         8   23.50       188.00
50  ORD0051       Edward     Home  2/20/2025         5  276.70      1383.50
52  ORD0053       Edward     Home  2/22/2025         2  261.63       523.26
53  ORD0054          Bob     Home  2/23/2025         5  465.84      2329.20
63  ORD0064          Bob     Home   3/5/2025         5  367.43      1837.15
68  ORD0069       Edward     Home  3/10/2025         6  201.93      1211.58
71  ORD0072        Fiona     Home  3/13/2025         3  204.01       612.03
72  ORD0073       Hannah     Home  3/14/2025         9  203.84      1834.56
81  ORD0082        Alice     Home  3/23/2025         3  346.71      1040.13
84  ORD0085        Alice     Home  3/26/2025         1  124.89       124.89
98  ORD0099        Alice     Home   4/9/2025         5  465.20      2326.00

       Status
4    Canceled
9     Pending
11  Completed
13  Completed
14   Canceled
21    Pending
24   Canceled
25    Pending
30  Completed
32   Canceled
37   Canceled
44    Pending
45  Completed
47    Pending
50  Completed
52    Pending
53  Completed
63  Completed
68    Pending
71  Completed
72   Canceled
81    Pending
84   Canceled
98    Pending

In [19]:
CustomerNameNull = data[data["CustomerName"].isnull()]
print(CustomerNameNull)

    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
65  ORD0066          NaN     Clothing   3/7/2025         5  190.90
67  ORD0068          NaN        Books   3/9/2025         8  144.79
73  ORD0074          NaN  Electronics  3/15/2025         1  234.80
78  ORD0079          NaN     Clothing  3/20/2025         6   80.48
83  ORD0084          NaN     Clothing        NaN         4  278.01

    TotalAmount     Status
65       954.50    Pending
67      1158.32   Canceled
73       234.80    Pending
78       482.88  Completed
83      1112.04   Canceled

In [21]:
CustomerNameNotNull = data[data["CustomerName"].notnull()]
print(CustomerNameNotNull)

    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
0   ORD0001       Hannah        Books   1/1/2025         6  331.73
1   ORD0002       Edward        Books   1/2/2025         3  310.03
2   ORD0003        Alice     Clothing   1/3/2025         9  176.17
3   ORD0004       Hannah  Electronics   1/4/2025         3   79.97
4   ORD0005       George         Home   1/5/2025         7  406.03
..      ...          ...          ...        ...       ...     ...
95  ORD0096        Diana     Clothing   4/6/2025         5  368.23
96  ORD0097          Bob        Books   4/7/2025         8  360.17
97  ORD0098        Diana     Clothing   4/8/2025         9   29.97
98  ORD0099        Alice         Home   4/9/2025         5  465.20
99  ORD0100      Charlie        Books  4/10/2025         9   41.55

    TotalAmount     Status
0       1990.38   Canceled
1        930.09  Completed
2       1585.53   Canceled
3        239.91    Pending
4       2842.21   Canceled
..          ...        ...
95      1841.15  Completed
96      2881.36  Completed
97       269.73   Canceled
98      2326.00    Pending
99       373.95    Pending

[95 rows x 8 columns]

In [23]:
#Filtering
#1- Filter the dataset to include only rows where the Status is "Completed."
completed_data = data[data["Status"] == "Completed"]
print(completed_data)

    OrderID CustomerName     Category  OrderDate  Quantity   Price  \
1   ORD0002       Edward        Books   1/2/2025         3  310.03
5   ORD0006      Charlie        Books   1/6/2025         9  390.27
6   ORD0007          Bob        Books   1/7/2025         7  154.19
11  ORD0012        Alice         Home  1/12/2025         4  157.95
13  ORD0014      Charlie         Home  1/14/2025         2  108.11
17  ORD0018       George     Clothing  1/18/2025        10  267.14
18  ORD0019        Alice     Clothing        NaN         3  227.82
22  ORD0023       Hannah  Electronics  1/23/2025         8  134.65
23  ORD0024          Bob     Clothing  1/24/2025         5  293.58
26  ORD0027      Charlie     Clothing  1/27/2025         3  432.17
30  ORD0031        Diana         Home  1/31/2025         2   61.32
31  ORD0032          Bob        Books   2/1/2025         6  149.55
33  ORD0034        Fiona        Books   2/3/2025         9  217.43
45  ORD0046       George         Home  2/15/2025         2  119.26
50  ORD0051       Edward         Home  2/20/2025         5  276.70
53  ORD0054          Bob         Home  2/23/2025         5  465.84
54  ORD0055          Bob     Clothing  2/24/2025         9  142.33
56  ORD0057       George        Books  2/26/2025         6  324.40
58  ORD0059        Fiona     Clothing  2/28/2025         7  161.67
60  ORD0061          Bob        Books   3/2/2025         9  336.13
63  ORD0064          Bob         Home   3/5/2025         5  367.43
64  ORD0065        Alice        Books   3/6/2025         5  469.38
66  ORD0067        Diana     Clothing   3/8/2025         3  467.02
70  ORD0071        Diana  Electronics  3/12/2025         7  305.67
71  ORD0072        Fiona         Home  3/13/2025         3  204.01
74  ORD0075      Charlie  Electronics  3/16/2025         3  235.91
76  ORD0077        Alice     Clothing  3/18/2025         9  163.71
77  ORD0078        Alice     Clothing  3/19/2025         2   25.33
78  ORD0079          NaN     Clothing  3/20/2025         6   80.48
88  ORD0089          Bob        Books  3/30/2025         9  302.63
92  ORD0093      Charlie  Electronics   4/3/2025         5  118.72
95  ORD0096        Diana     Clothing   4/6/2025         5  368.23
96  ORD0097          Bob        Books   4/7/2025         8  360.17

    TotalAmount     Status
1        930.09  Completed
5       3512.43  Completed
6       1079.33  Completed
11       631.80  Completed
13       216.22  Completed
17      2671.40  Completed
18       683.46  Completed
22      1077.20  Completed
23      1467.90  Completed
26      1296.51  Completed
30       122.64  Completed
31       897.30  Completed
33      1956.87  Completed
45       238.52  Completed
50      1383.50  Completed
53      2329.20  Completed
54      1280.97  Completed
56      1946.40  Completed
58      1131.69  Completed
60      3025.17  Completed
63      1837.15  Completed
64      2346.90  Completed
66      1401.06  Completed
70      2139.69  Completed
71       612.03  Completed
74       707.73  Completed
76      1473.39  Completed
77        50.66  Completed
78       482.88  Completed
88      2723.67  Completed
92       593.60  Completed
95      1841.15  Completed
96      2881.36  Completed

In [25]:
#Extract a DataFrame with only the OrderID , CustomerName , and TotalAmount columns.
filteredData = data[["OrderID", "CustomerName", "TotalAmount"]]
print(filteredData)

    OrderID CustomerName  TotalAmount
0   ORD0001       Hannah      1990.38
1   ORD0002       Edward       930.09
2   ORD0003        Alice      1585.53
3   ORD0004       Hannah       239.91
4   ORD0005       George      2842.21
..      ...          ...          ...
95  ORD0096        Diana      1841.15
96  ORD0097          Bob      2881.36
97  ORD0098        Diana       269.73
98  ORD0099        Alice      2326.00
99  ORD0100      Charlie       373.95

[100 rows x 3 columns]

In [27]:
mask = data["Price"] > 100
FilterByRow = data [mask]
print (FilterByRow)

    OrderID CustomerName     Category OrderDate  Quantity   Price  \
0   ORD0001       Hannah        Books  1/1/2025         6  331.73
1   ORD0002       Edward        Books  1/2/2025         3  310.03
2   ORD0003        Alice     Clothing  1/3/2025         9  176.17
4   ORD0005       George         Home  1/5/2025         7  406.03
5   ORD0006      Charlie        Books  1/6/2025         9  390.27
..      ...          ...          ...       ...       ...     ...
92  ORD0093      Charlie  Electronics  4/3/2025         5  118.72
94  ORD0095        Alice        Books  4/5/2025         4  143.94
95  ORD0096        Diana     Clothing  4/6/2025         5  368.23
96  ORD0097          Bob        Books  4/7/2025         8  360.17
98  ORD0099        Alice         Home  4/9/2025         5  465.20

    TotalAmount     Status
0       1990.38   Canceled
1        930.09  Completed
2       1585.53   Canceled
4       2842.21   Canceled
5       3512.43  Completed
..          ...        ...
92       593.60  Completed
94       575.76   Canceled
95      1841.15  Completed
96      2881.36  Completed
98      2326.00    Pending

[82 rows x 8 columns]

In [29]:

FilterTotalAmount = data[data["TotalAmount"] > 500][["OrderID", "Status"]]
print(FilterTotalAmount)

    OrderID     Status
0   ORD0001   Canceled
1   ORD0002  Completed
2   ORD0003   Canceled
4   ORD0005   Canceled
5   ORD0006  Completed
..      ...        ...
92  ORD0093  Completed
94  ORD0095   Canceled
95  ORD0096  Completed
96  ORD0097  Completed
98  ORD0099    Pending

[72 rows x 2 columns]

In [31]:

First10OrderID = data[["OrderID","TotalAmount"]].head(10)
print(First10OrderID)

   OrderID  TotalAmount
0  ORD0001      1990.38
1  ORD0002       930.09
2  ORD0003      1585.53
3  ORD0004       239.91
4  ORD0005      2842.21
5  ORD0006      3512.43
6  ORD0007      1079.33
7  ORD0008      2668.60
8  ORD0009       444.60
9  ORD0010      1428.42

In [33]:
dropStatus = data.drop(columns=["Status"], inplace=True)

In [35]:
import pandas as pd

In [37]:
data1 = pd.read_csv("C:/Users/lenovo/Downloads/sample_sales_data.csv")
print(data1.head())

   OrderID CustomerName     Category OrderDate  Quantity   Price  TotalAmount  \
0  ORD0001       Hannah        Books  1/1/2025         6  331.73      1990.38
1  ORD0002       Edward        Books  1/2/2025         3  310.03       930.09
2  ORD0003        Alice     Clothing  1/3/2025         9  176.17      1585.53
3  ORD0004       Hannah  Electronics  1/4/2025         3   79.97       239.91
4  ORD0005       George         Home  1/5/2025         7  406.03      2842.21

      Status
0   Canceled
1  Completed
2   Canceled
3    Pending
4   Canceled

In [43]:
highValueOrders = data[data["TotalAmount"] > 500]

In [41]:
data.to_csv("high_value_orders.csv", index=False)